
@{
    ViewBag.Title = "ThongTinTaiKhoan";
}

<div class="container p-2">
    Chào bạn <font color="red">@ViewBag.HoTen</font>
    Bạn đã đăng nhập với tài khoản <font color="red">@ViewBag.TaiKhoan</font>
</div>

