@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<link href="~/Content/css/style_form_dang_nhap.css" rel="stylesheet" />

<div style="height:500px">
    <br />
    <input type="button" name="button" value="Đăng nhập" id="btnDangNhap" class="btn btn-primary" />
    @* Tạo 1 div bên ngoài chứa div login form *@
    <div id="popup_login" class="">
        <div class="login-form">
            <div style="clear:both;text-align:right;margin-bottom:0">
                <span id="close-form" class="btn btn-danger">X</span>
            </div>
            <h2>Đăng nhập</h2>
            <div class="form-info">
                <form>
                    <input type="text" class="email TaiKhoan" placeholder="Tài khoản" required="">
                    <input type="password" class="password MatKhau" placeholder="Mật khẩu" required="">
                    <p><a href="#">Quên mật khẩu?</a></p>
                    <ul class="login-buttons">
                        <li><input type="submit" value="Đăng nhập" id="btnDangNhap1"></li>
                        <li><a href="#" class="hvr-sweep-to-left">Đăng ký</a></li>
                        <div class="clear"> </div>
                    </ul>
                </form>
            </div>
        </div>
    </div>

</div>
<style>
    #btnDangNhap{
        float:left;
    }
    .content{
        height:500px;
    }
    #close-form{
        color:white;
    }

    #login-form{
        background:#3a3a46;
        cursor:pointer;
    }
    /*Css cho phần div popup_login*/
    #popup_login{
        position:fixed;
        top:0;
        left: 0;
        width:100%;
        height:100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 99;
        display: none;
    }

</style>
@* Sử dụng jquery hiển thị poup đăng nhập *@
<script type="text/javascript">
    $("#btnDangNhap").click(function () {
        //$("#popup_login").css({
        //    "display": "block"

        //});
        //Hiển thị poup_login
        $("#popup_login").show();
    });
     //Ẩn đi popup
    $("#close-form").click(Anform);

    //Định nghĩa function ẩn
    function Anform() {
        $("#popup_login").hide();
    }

    //Ví dụ về lấy giá trị từ textbox
    $("#btnDangNhap1").click(function () {
        var TaiKhoan = $(".TaiKhoan").val();
        var MatKhau = $(".MatKhau").val();

        alert("Tài khoản:" + TaiKhoan + "\n Mật khẩu:" + MatKhau)
        if (TaiKhoan == "")
        {
            alert("Lỗi")
            return;
        }
    })
    
</script>

















































































@*@*<div class="container" id="Content">
    @* Sử dụng boostrap
        md: dùng cho những
        xs: dùng cho điện thoại di động
        sm:dùng cho máy bảng
    *@
    @*<h1>Danh sách logo</h1>
    <div class="row">
        <div class="col-md-2">
            
            <div class="logocot1">
                <span class="title">Home</span>
            </div>
        </div>
        <div class="col-md-2">
            
            <div class="logocot1">
                <span class="title">Home</span>
            </div>
        </div>
        <div class="col-md-2">
            
            <div class="logocot1">
                <span class="title">Home</span>
            </div>
        </div>
        <div class="col-md-2">
            
            <div class="logocot1">
                <span class="title">Home</span>
            </div>
        </div>
        <div class="col-md-2">
            
            <div class="logocot1">
                <span class="title">Home</span>
            </div>
        </div>
        <div class="col-md-2">

            <div class="logocot1">
                <span class="title">Home</span>
            </div>
        </div>
    </div>
</div>*@

@* Css *@
@*<style>
    #Content {
        height: 500px;
    }
    .title {
        font-size: 15pt;
        font-family: 'Segoe UI';
        font-weight: bold;
        color: white;
        margin-top: 30px;
        transition: 0.2s;
    }
    .logocot1 {
        height: 100px;
        background-color: green;
        background-image: url(../../Content/images/download.png);
        background-repeat: no-repeat;
        background-position:center right;
        padding-top: 35px;
        padding-left: 10px;
        transition: 0.5s;
        cursor: pointer;
        
       }
        .logocot1:hover {
            height: 100px;
            background-color: red;
            background-image: url(../../Content/images/download.png);
            background-repeat: no-repeat;
            background-position: 10px 35px;
            padding-top: 0px;
            padding-left: 10px;
            transition: 0.5s;
            /*opacity: 0.5;*/
            box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px white;
        }
</style>*@